.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.friend-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
}

button {
  cursor: pointer;
  background-color: rgb(255, 166, 0);
  border-radius: 10px;
  border-color: transparent;
  width: fit-content;
  height: 2rem;
}

button:active {
  background-color: rgb(160, 104, 0);
  color: white;
}

.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.friend-name,
.friend-image {
  display: flex;
  justify-content: space-between;
}

div.add-friend-form > input {
  width: 50px;
}

.selected {
  background-color: beige;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.add-friend-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: beige;
}
